#Arrows{
	justify-content: space-between;
	width: 400px;
}

#Prev, #Next {
    color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#Prev {
    left: -50px;
}

#Next {
    right: -50px;
}

#Arrows i{
	color: #1C2331;
	cursor: pointer;
	height: 30px;
	transition: background-color .5s, color .5s;
}

#Arrows i:first-of-type{ 
	padding-right: 20px;
}

#Arrows i:last-of-type{ 
	padding-left: 20px;
}

#Arrows i:hover{
	color: #b0c4de;
}

.menu-section {
	display: none;
}

.menu-section.active {
	display: block;
}