  /* Black MPLUS1p font */
  @font-face {
      font-family: 'MPLUS1p-Black';
      src: url('../fonts/MPLUS1p-Black.ttf') format('truetype');
  }

  /* Bold MPLUS1p font */
  @font-face {
      font-family: 'MPLUS1p-Bold';
      src: url('../fonts/MPLUS1p-Bold.ttf') format('truetype');
  }

  /* ExtraBold MPLUS1p font */
  @font-face {
      font-family: 'MPLUS1p-ExtraBold';
      src: url('../fonts/MPLUS1p-ExtraBold.ttf') format('truetype');
  }

  /* Light MPLUS1p font */
  @font-face {
      font-family: 'MPLUS1p-Light';
      src: url('../fonts/MPLUS1p-Light.ttf') format('truetype');
  }

  /* Medium MPLUS1p font */
  @font-face {
      font-family: 'MPLUS1p-Medium';
      src: url('../fonts/MPLUS1p-Medium.ttf') format('truetype');
  }

  /* Regular MPLUS1p font */
  @font-face {
      font-family: 'MPLUS1p-Regular';
      src: url('../fonts/MPLUS1p-Regular.ttf') format('truetype');
  }

  /* Thin MPLUS1p font */
  @font-face {
      font-family: 'MPLUS1p-Thin';
      src: url('../fonts/MPLUS1p-Thin.ttf') format('truetype');
  }

  @font-face {
      font-family: 'hakusyukaisyo';
      src: url('../fonts/hakusyukaisyo.ttf') format('truetype');
  }

  body {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: 'MPLUS1p-Regular', Arial, sans-serif;
      background-color: #fcf8f4;
      font-size: 16px;
      margin: 0;
      padding: 0;
  }

  main {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      color: #1C2331;
  }

  .container {
      color: #1C2331;
  }

  iframe {
      display: block;
      width: 100vw;
      max-width: 100%;
      height: 80vh;
      border: none;
  }

  .first-parallax {
      position: relative;
      height: 40vh;
      overflow: hidden;
  }

  .second-parallax {
      position: relative;
      height: 40vh;
      overflow: hidden;
  }

  .parallax-container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      transform: translate3d(0, 0, 0);
  }

  .menu {
      background-image: url('../images/wave-of-kanagawa.png');
      background-repeat: no-repeat;
      background-size: cover;
  }

  .menu-title {
      border-top: 1px solid #1C2331;
      border-bottom: 1px solid #1C2331;
      max-width: 300px;
  }

  .menu-price {
      font-size: medium;
  }

  .menu-item {
      display: flex;
      font-size: 18px;
      line-height: 1;
      min-width: 467px;
  }

  .right-aligned-item {
      padding-left: 50%;
  }

  .dish-name-tasting {
      align-self: flex-start;
      border-right: 1px solid #1C2331;
      width: 137px !important;
      font-weight: bold;
  }

  .dish-name-tasting ul {
      height: 3em;
  }

  .dish-name-omakase {
      width: 160px !important;
      font-weight: bold;
      border-right: 1px solid #1C2331;
  }

  .dish-name-omakase ul {
      height: 9em;

  }

  .dish-option {
      width: 400px;
  }

  .option-line {
      position: relative;
      top: -7px;
      width: 350px;
  }

  .dish-options {
      border: 2px solid #1C2331;
      border-radius: 25px;
  }

  .button {
      display: inline-block;
      color: #1C2331;
      font-size: 14px;
      text-decoration: none;
      padding: 12px 24px;
      border: 2px solid #1C2331;
  }

  .button:hover {
      border: 2px solid #424E62;
      color: #424E62;
  }

  .gallery {
      font-size: 0;
  }

  .gallery img {
      width: 300px;
      height: 200px;
      padding: 2px;
  }

  .footer {
      background-image: url(../images/koi-fish.png);
      background-repeat: no-repeat;
      background-position: right;
      background-size: auto;
      background-color: #1C2331;
  }

  .footer * {
      color: #b0c4de !important;
  }

  .icon {
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
  }

  .social-icon {
      width: 1.5em;
      height: 1.5em;
  }

  .opening-hours li {
      display: flex;
      justify-content: space-between;
  }

  .opening-hours li span:first-child {
      margin-right: 10px;
  }

  .japanese-title {
      font-family: 'hakusyukaisyo', sans-serif !important;
      font-weight: bold;
  }

  .japanese-text {
      margin: 0;
      font-size: 90%;
  }

  hr {
      width: 30vw;
      margin: auto;
  }


  @media (max-width: 1200px) {
      .first-parallax {
          height: 30vh;
          /* adjust height for smaller screens */
      }

      .second-parallax {
          height: 30vh;
          /* adjust height for smaller screens */
      }
  }

  @media (max-width: 992px) {
      .first-parallax {
          height: 25vh;
          /* adjust height for smaller screens */
      }

      .second-parallax {
          height: 25vh;
          /* adjust height for smaller screens */
      }
  }

  @media (max-width: 768px) {
      .first-parallax {
          height: 20vh;
          /* adjust height for smaller screens */
      }

      .first-parallax img {
          top: -100px;
      }

      .second-parallax {
          height: 20vh;
          /* adjust height for smaller screens */
      }
  }

  @media (max-width: 576px) {
      .first-parallax {
          height: 15vh;
          /* adjust height for smaller screens */
      }

      .second-parallax {
          height: 15vh;

          /* adjust height for even smaller screens */
      }
  }

  @media (max-width: 320px) {
      .first-parallax {
          height: 10vh;
          /* adjust height for smaller screens */
      }

      .second-parallax {
          height: 10vh;
          /* adjust height for smaller screens */
      }
  }